
<div class="form-area">
    <form>
        <input type="text" placeholder = "Full Name">
        <input type="text" placeholder = "Email">
        <textarea cols="30" rows="10" placeholder = "Address"></textarea>
        <button type = "submit">Submit</button>
    </form>
</div>
<!-- Providers
<h3> Post Component</h3>
<app-post></app-post>
<h3> Post Component List</h3>
<app-post-list></app-post-list>
-->

<!-- PipeLines -->
<!--
<h1>{{title | lowercase}}</h1>
<h1>{{count | number}}</h1>
<h1>{{dcValue | number: '1.3-3'}}</h1>
<h1>{{price | currency: "USD ": false : '2.1-1'}}</h1>
<h1>{{today | date: 'shortDate'}}</h1>
<p>{{postObj | json}}</p>
<h3>{{5 | percent : '1.1-1'}}</h3>
<h3>{{postArray | slice: 2:4}}</h3>
<h3>{{userdetails.city | appendCLI}}</h3>
<p>{{dummyText | summary : 15}}</p>
-->
<!-- End of Pipeline-->
<!--

<div class="form-area">
    <h3> User Details</h3>
    <input type="text" placeholder = "Name" [(ngModel)] = 'name'>
    <br><br>
    <input type="text" placeholder = "E-Mail" [(ngModel)] = 'email'>
    <br><br>
    <textarea cols="30" rows="10" placeholder=" Address" [(ngModel)] = 'address'></textarea>
    <br><br>
    <button (click) = "onClick()">Save Data</button>

</div>


<div *ngIf = "userArray.length > 0; else noData">
    <div class="table-area">
        <table width='500'>
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Action</th>
            </thead>
            <tr *ngFor = "let user of userArray; let index = index">
                <td>{{index + 1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.address}}</td>
                <td><button (click) = "onDelete(index)"> Delete </button></td>
            </tr>
        </table>
    </div>
</div>

<ng-template #noData>
    <h4> No data to show</h4>
</ng-template>



<p> Ng Style Directive</p>

<h1

[class.main] = "isActive"
[class.text-weight] = "isActive"
> whoos fmfnf
</h1>
<h1
[ngClass] = "{
    'main': isActive,
    'text-weight': isActive
}"

> ngClass Direct</h1>



<h1 
[style.color] = "isActive ? 'red' : 'black'"
[style.textTransform] = "isActive ? 'uppercase': 'lowercase'"
> Angular Udemy Course</h1>
<h1
[ngStyle] = "{
    color: isActive ? 'red' : 'black',
    textTransform: isActive ? 'uppercase' : 'lowercase'
}"

> Ng Style Directive</h1>

<div>
    <button (click) = "onClick('step 1')">Step 1</button>
    <button (click) = "onClick('step 2')"> Step 2</button>
    <button (click) = "onClick('step 3')">Step 3</button>
</div>
<div [ngSwitch] = "stepForm">
    <div *ngSwitchCase = "'step 1'">Step 1 Form</div>
    <div *ngSwitchCase = "'step 2'">Step 2 Form</div>
    <div *ngSwitchCase = "'step 3'">Step 3 Form</div>
    <div *ngSwitchDefault> Something else</div>
</div>


 
<ul>
    <li *ngFor = "let post of postArray"> {{post}}</li>
</ul>
<button (click)= " addNew()"> Add New Data</button>

<div *ngIf = 'objArray.length > 0;then postList else noData '></div>
<ng-template #postList>
    <ul>
        <li *ngFor = "let post of objArray; let i = index">
            {{post.postTitle}}
            <button (click) = "onDelete(i)">Delete</button>
        </li>
    </ul>
</ng-template>
<ng-template #noData>
    <p> There is no Data to Fetch</p>
</ng-template>

<ul>
    <li *ngFor = "let post of objArray; let i = index">
        {{post.postTitle}}
        <button (click) = "onDelete(i)">Delete</button>
    </li>
</ul>



<h1 [class.text-red] = "bool">Angular App </h1>
<h1 [style.color] = "bool ? 'red' : 'blue' " > Style Binding</h1>
<p>{{message1}}</p>

<app-navbar></app-navbar>

<app-post [fromParent] = 'parentMessage' (messageEvent)='reciveMessage($event)'></app-post>

<p>{{fromChildOutput}}</p>


<img src= "{{ imgUrl }}" alt=" ">
<img [src] = "imgUrl" alt=" ">
<button (click) ="buttonClick()"> Click me</button>
 Event Filtering 
<input type=" text" (keyup.enter) = "onKeyup(username.value)" #username>

<input type = "text" [(ngModel)] = "userName" (keyup.enter) = "onKeyup()">
<input type="text" [value] ="textValue" (keyup.enter) = "onKeyup()">

<input type="text" [(ngModel)] = "textValue" (keyup.enter)="onKeyup()">

-->

<!-- 
<div class="form-area">
    <h1> PostForm</h1>
    <br><br>
    <input type = "text" placeholder = "Post Title" [(ngModel)]= "postTitle">
    <br><br>
    <textarea cols = "30" rows = "10" placeholder = "Post Details" [(ngModel)]= "postDetails"></textarea>
    <br><br>
    <input type = "text" placeholder = "Post Image" [(ngModel)]= " imageURL">
    <br><br>
    <input type = "text" placeholder = "Post URL" [(ngModel)]= "postURL">
    <br><br>
    <input type = "checkbox" [(ngModel)]= "addBackground"> Add Background
    <br><br>

</div>

<div class="preview-area">
    <img [src]="imageURL" alt="">
    <h1><span [class.add-background]=" addBackground">{{postTitle}}</span></h1>
    <p>{{postDetails}}</p>
    <a [href]="postURL" target = "_blank" [style.display]=" postURL ? 'block' : 'none'">More Details </a>

</div>
-->
