

/*
.text-red{
    color: red;
}
.form-area,
.preview-area
{
    margin-top: 50px;
    text-align: center;
}

.add-background{
    background-color: yellow;
    padding: 10px;
}
.main{
    color:red;
    text-transform: uppercase;
}
.text-weight{
    font-weight: bold;
}
.table-area{
    position:absolute;
    left: 35%;
}
h4{
    text-align: center;
}
*/
